################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserSettings
/Tiled-Directional-Flow.sln
/Temp
/Packages
/Logs
/Library
/.vs/Tiled-Directional-Flow/v16/TestStore/0
